{{ define "main" }}

{{ partial "page-header.html" . }}

<!-- checking blog -->
{{ if or (or (eq .Section "post") (eq .Section "blog")) (or (eq .Section "categories") (eq .Section "tags") )}}

<section class="section">
  <div class="container">
    <div class="row">
            {{ range first 1 (where .Data.Pages "Type" "featured") }}
      <div class="col-12 mb-3 pb-3">
        <div class="row align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            </a>
          </div>
        </div>
      </div>
      {{ end }}
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card border-0">
          <img src="{{ .Params.image |relURL }}" alt="{{ .Title }}" class="card-img rounded-lg w-55 mb-3" style="width:75%"> 
          <div class="card-body p-0">
            <h3><a href="{{ .Permalink }}" title="{{ .Title }}" class="post-title" style = "font-size:22px">{{ .Title }}</a></h3>
            <p class="card-text" style = "font-size:17px">{{ .Summary }}</p>
            <a href="{{.Permalink}}" title="{{ i18n "readmore" }} - {{ .Title }}" class="btn btn-primary btn-sm">{{ i18n "readmore" }}</a>
          </div>
        </div>
      </div>
      {{ end }}
      <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>

<!-- regular page -->
{{ else }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}